.d-flex {align-items: center; justify-content: center;}
.tableBody {border: 1px solid black; border-right: 1px solid black;}
.table{border: 1px solid black; border-right: 1px solid black;}
.btn1{margin-left: 20px;}